* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
  }
body{
    max-width: 1440px;
}


.logo img{
    margin-left: 14%;
}

.profile_photo{
width: 20px;
height: 20px;
border-radius: 50%;

}
  
.profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color:#d73552;
    padding: 2px;
    background-image: linear-gradient(to right top, #f02627, #f85716, #fc7c00, #fc9d00, #f9bc00, #fcb107, #fea611, #ff9b1a, #f5653a, #d73552, #a81061, #6d0d65) 1;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    gap: 5px;
    text-decoration: none;
    color: black;
    width: 100%;

}

a{
    color: black;
    width: 50%;
    text-decoration: none;
}


/* .profile-div{
    background-image: linear-gradient(to right top, #f02627, #f85716, #fc7c00, #fc9d00, #f9bc00, #fcb107, #fea611, #ff9b1a, #f5653a, #d73552, #a81061, #6d0d65);
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid white;
} */

.post_image{
    width: inherit;
    height: 350px;
}

/* nav bar */
.nav_section_one{
    height: 100%;
    width: 18%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    padding-top: 20px;
    border: 1px solid rgb(219, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons a{
    text-decoration: none;
    font-weight: 100;
    font-size: 16px;
    
}

ul{
    display: none;
    background-color: white;
    padding: 10px;
    left: 20px;
}

li{
    display: flex;
    padding: 10px 20px;
    border: 1px solid rgb(199, 199, 199);
    width: 230px;
    justify-content: space-between;
    font-weight: 100;
}

.break{
    margin-bottom: 10px;
}

.more:hover ul{
    display: block;
    position: fixed;
    bottom:10%;
    z-index: 3; 

}
/* main section */
.main_section{
    display: flex;
    justify-content:center; 
    width: 120%;
    position: fixed;
    background-color: rgb(250, 255, 255);
    margin: auto;

}

.new_post{
  position: fixed;
  padding: 6px;
  border: 1px solid rgb(171, 177, 182);
  border-radius: 20px;
  background-color: white;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  margin: auto;
  left: 50%;



}

.post{
    width: 100%;
    border: 1px solid rgb(219, 211, 211);
    border-radius: 10px;
    padding-bottom: 5px;
    background-color: white;
    position: relative;
    
 
 }

.post_image{
    width: inherit;
    height: 650px;
    object-fit: cover;

    
}

.username{
    font-weight: 600;

}
/* status */
.status_bar{
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid rgb(219, 211, 211);
    width: 100%;
    background-color: white;

}

.small-fonts{
    font-size: 12px;
    text-align: center;
}

.section_suggestions{
    margin-top: 2%;
    position: absolute;
    top: 10px;
    left: 55%; 
    width: 20%;
    display: flex;
    flex-direction: column;
    

}
.flex_suggestions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;

}

.flex_suggestions a{
    color: rgb(0, 149, 246);
    font-weight:600;
}



.first a{
    margin-left: 29%;
    

}

.second {
    display: flex;
    width: 100%;
    justify-content: space-between;
    

}

.second a{

    width: 12%;
    color: black;
}

.second p{
    color: rgb(142, 142, 142);
}

.small-font{
    font-size: 12px;
    color: rgb(142, 142, 142);
}

.popup_section{
    width: 84%;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 10px;
    background-color: white;
    position: absolute;
    display: none;
    font-size: 14px;
    font-weight: 400;
    
}

.pop-up{
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    
}


.follow{
    padding-top: 20px;
    color: rgb(142, 142, 142);
}

.name{
    color: rgb(142, 142, 142);
}

.followings{
    display: flex;
    border-top: 1px solid rgb(199, 199, 199);
    justify-content: space-around;
    color: rgb(142, 142, 142);
    padding: 10px;

    
}

.numbers{
    color: black;
    font-weight: 600;
    text-align: center;
}

.popup-image img{
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.popup-button{
    display: flex;
    justify-content: space-around;
    margin: 10px;

}

.popup-button button{
    padding: 5px;
    width: 45%;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid rgb(199, 199, 199);
    background-color: white;
    font-weight: 600;

}

.username:hover .popup_section{
       display: inline;
       position: absolute;  
       z-index: 4;     
       top: 30px;
       left: 48px;
}



.text-div{
    width: 300%;

}

.svg_container{
    display: flex;
    gap: 72%;
    
    
}

.comment{
    padding-top: 10px;
}

.view{
    color:rgb(142, 142, 142) ;
}

.flex-comment{
  display: flex;
  gap: 61%;
}

.side-love{
    width: 15px;
    height: 15px;
}

.time{
    font-size: 10px;
    margin-top: 20px;
    color: rgb(142, 142, 142) ;
}

.more{
    margin-top: 50px;
    width: 28%;
    margin-left: 45px;
}




.input_div{
    border-top:1px solid rgb(231, 225, 225);
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;  
}


.input_div>a{
    width: 10%;
    color: rgb(22, 215, 222, 0.3);
    font-weight: 600;
    font-size: 14px;
    
    
}

.input_div input{
    border: none;
    width: 90%;
    margin-left: 10px;
}

.post p{
    margin: 0px 10px ;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.profile-intro{
    display:flex;
    gap: 10px;

}

.section_post{
    display: flex;
    flex-direction: column;
    width: 29%;
    position: relative;
    left: -190px;
    gap: 10px;

}



.sug_img{

    border: none;
}

footer{
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    color: rgb(199, 199, 199);

    
}

.footer-links a{
    color:rgb(199, 199, 199);
    
}

.footer-links{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 20px;
    width: 100%;
    
}

.part-footer-links {
    margin-bottom: 15px;
    color: rgb(199, 199, 199);

}
.part-footer-links a{
    color:rgb(199, 199, 199);
    
}

.svg-container-first{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

